@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
  --error: #e7195a;
}

body {
  background: #f1f1f1;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0;
  font-family: "Poppins";
}

header {
  background: #fff;
}

.delete-button{
  margin: 0 auto;
  display: block;
}

.error {
  border: 1px solid var(--error);
}

.login_signup_form{
  position: absolute;
  height: 100%;
  width: 100%;
  mix-blend-mode: normal;
}

form {
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

a {
  text-decoration: none;
  color: var(--error);
}




